.card{
    margin: 10rem 0px;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}

.card-body{
    padding: 2rem !important;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.8);
}